.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 4px auto;
  width: 40%;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
}
